.project-header{
    display:flex;
    flex-direction: row;
    gap: 20px;
}

.project-section{
    display: flex;
    flex-direction: column;
    gap: 0px 40px;
}

.section-title{
    font-size: 28px;
    font-weight: 800;
}

.section-description{
    font-size: 18px;
    font-weight: 300;
}

@media(max-width:768px)
{
    .section-title{
        font-size: 18px;
        font-weight: 600;
    }
    
    .section-description{
        font-size: 12px;
        font-weight: 200;
    }
}
