@import url("../base.css");

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.projects-container img{
    box-sizing: border-box;
    width: 640px;
    height: 360px;
    transition: 0.3s;
    cursor: pointer;
}

.projects-container img:hover{
    transform: scale(1.10);
    border: 4px solid var(--main_color);
    border-radius: 10px;
    transition: 0.3s;
}