@import url("../../base.css");

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.header img{
    margin-top: 100px;
}

.header h1{
    text-align: center;
    width: 65%;
    font-size: 84px;
    font-weight: 600;
}

.header h1 span{
    background: linear-gradient(270deg, var(--alt_color) 10%, var(--main_color) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header p{
    width: 40%;
    text-align: center;
    font-size: 28px;
    line-height: 40px;
}

.header-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.header-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #FFF;
    cursor: pointer;
}

.header-resume:hover{
    border-color: var(--main_color);
}

@media(max-width:768px){
    .header img{
        margin-top: 120px;
        width: 260px;
    }
    
    .header h1{
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }

    .header p{
        width: 60%;
        font-size: 18px;
        line-height: 32px;
        margin: 10px 0px;
    }

    .header-action{
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .header-resume{
        padding: 20px 50px;
        border-radius: 40px;
    }
}